.people {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  .title {
    color: #f5d938;
    margin-bottom: 1em;
  }

  .people-data {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cursors {
      display: flex;
      position: absolute;
      align-self: center;
      width: 100%;
      justify-content: space-between;
      z-index: 2;
      .left,
      .right {
        padding: 25px 20px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        i {
          transform: scale(2);
        }
        &:hover {
          color: #f5d938;
          transition: 1s all;
          cursor: pointer;
        }
      }
    }
    .person {
      display: flex;
      flex-direction: column;
      height: 85%;
      width: 16.6%;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      .img-container {
        overflow: hidden;
        width: 100%;
        height: 80%;
        img {
          height: 100%;
          width: 100%;
          display: block;
          object-fit: cover;
        }
      }

      .name {
        padding: 1em;
        color: white;
        height: 20%;
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 1200px) {
  .people .people-data .cursors {
    width: 95vw;
    justify-content: space-between;
  }
}

@media (max-width: 1028px) {
  .people {
    width: 1200px;
  }
}
